<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-874" />
<title>บริษัท ทีดับบลิวแซด คอร์ปอเรชั่น จำกัด (มหาชน) :  บิลเงินสด</title>
<style type="text/css">
<!--
.txtb {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
.ind1 {
	text-indent: 12px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
}
.txt {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
}
.tb1 {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
}
.tb2 {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000000;
}
.tb3 {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000000;
}
.headtb {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
}
-->
</style>
</head>

<body leftmargin="0" rightmargin="0" topmargin="0" bottommargin="0" marginwidth="0" marginheight="0">
<table width="100%" height="1077" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top" align="left">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="10" colspan="4" align="left" valign="middle"><img src="spacer.gif" width="1" height="1" /></td>
  </tr>
  <tr>
    <td height="35" colspan="4" align="left" valign="middle" class="txtb">บริษัท ทีดับบลิวแซด คอร์ปอเรชั่น จำกัด (มหาชน)</td>
  </tr>
  <tr>
    <td height="23" colspan="4" align="left" valign="middle" class="txt">269 ถนนรัชดาภิเษก แขวงดินแดง เขตดินแดง กรุงเทพฯ 10400  โทร. 0 2275 9789   แฟกซ์. 0 2275 9798</td>
  </tr>
  <tr>
    <td height="23" colspan="2" align="left" valign="middle" class="txt">โทรศัพท์ 02-158-0808, 02-953-9440, 02-953-9441&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;โทรสาร 02-953-9400 กด 2</td>
    <td height="23" colspan="2" align="left" valign="middle" class="txtb">&nbsp;</td>
  </tr>
  <tr>
    <td height="35" colspan="2" align="left" valign="middle" class="txt">&nbsp;</td>
    <td height="30" colspan="2" align="left" valign="middle"  class="txtb">บิลเงินสด</td>
  </tr>
  <tr>
    <td width="10%" height="21" align="left" valign="middle" class="txt">&nbsp;&nbsp;&nbsp;&nbsp;ลูกค้า </td>
    <td width="50%" height="21" align="left" valign="middle" class="txt">[CUSTOMERNAME]</td>
    <td width="13%" height="18" align="left" valign="middle" class="txt">เลขที่บิลเงินสด</td>
    <td width="27%" height="18" align="left" valign="middle" class="txt">[BILLCODE]</td>
  </tr>
  <tr>
    <td height="21" align="left" valign="middle" class="txt">&nbsp;&nbsp;&nbsp;&nbsp;รหัสเติมเงิน </td>
    <td height="18" align="left" valign="middle" class="txt">[MEMBERCODE]</td>
    <td height="18" align="left" valign="middle" class="txt">วันที่</td>
    <td height="18" align="left" valign="middle" class="txt">[DATE]</td>
  </tr>
  <tr>
    <td height="21" align="left" valign="middle" class="txt">&nbsp;&nbsp;&nbsp;&nbsp;โทร. </td>
    <td height="18" align="left" valign="middle" class="txt">[MOBILE]</td>
    <td height="18" align="left" valign="middle" class="txt">ผู้ทำรายการ</td>
    <td height="18" align="left" valign="middle" class="txt">[CSCODE]</td>
  </tr>
  <tr>
    <td height="8" colspan="4" align="left" valign="middle" class="txt"><img src="spacer.gif" width="1" height="1" /></td>
  </tr>
</table>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="8%" height="28" align="center" valign="middle" class="headtb" style="border-left:solid; border-left-color:#000000; border-left-width:1px">No.</td>
    <td width="47%" align="center" valign="middle" class="headtb">รหัสสินค้า/รายละเอียดสินค้า</td>
    <td width="15%" align="center" valign="middle" class="headtb">จำนวน</td>
    <td width="15%" align="center" valign="middle" class="headtb">หน่วยละ</td>
    <td width="15%" align="center" valign="middle" class="headtb">ราคารวมภาษี</td>
  </tr>
  <tr>
    <td height="26" align="center" valign="bottom" class="tb2">1.</td>
    <td align="left" valign="bottom" class="ind1">[PRODUCT1]</td>
    <td align="center" valign="bottom" class="tb1">[quantity1]</td>
    <td align="right" valign="bottom" class="tb1">[PRICE1]&nbsp;&nbsp;&nbsp;</td>
    <td align="right" valign="bottom" class="tb1">[TOTALPRICE1]&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td height="23" align="center" valign="bottom" class="tb2">&nbsp;</td>
    <td align="left" valign="bottom" class="ind1">&nbsp;</td>
    <td align="center" valign="bottom" class="tb1">&nbsp;</td>
    <td align="right" valign="bottom" class="tb1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td align="right" valign="bottom" class="tb1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td height="23" align="center" valign="bottom" class="tb2">&nbsp;</td>
    <td align="left" valign="bottom" class="ind1">&nbsp;</td>
    <td align="center" valign="bottom" class="tb1">&nbsp;</td>
    <td align="right" valign="bottom" class="tb1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td align="right" valign="bottom" class="tb1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td height="23" align="center" valign="bottom" class="tb2">&nbsp;</td>
    <td align="left" valign="bottom" class="ind1">&nbsp;</td>
    <td align="center" valign="bottom" class="tb1">&nbsp;</td>
    <td align="right" valign="bottom" class="tb1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td align="right" valign="bottom" class="tb1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td height="23" align="center" valign="bottom" class="tb2">&nbsp;</td>
    <td align="left" valign="bottom" class="ind1">&nbsp;</td>
    <td align="center" valign="bottom" class="tb1">&nbsp;</td>
    <td align="right" valign="bottom" class="tb1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td align="right" valign="bottom" class="tb1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
  </tr>

  <tr>
    <td height="20" align="center" valign="bottom" class="tb2">&nbsp;</td>
    <td align="left" valign="bottom" class="ind1">&nbsp;</td>
    <td align="left" valign="bottom" class="tb1">&nbsp;</td>
    <td align="right" valign="bottom" class="tb1">&nbsp;</td>
    <td align="right" valign="bottom" class="tb1">&nbsp;&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td height="15" align="center" valign="middle" class="tb2"><img src="./images/spacer.gif" width="1" height="1" /></td>
    <td height="15" align="left" valign="middle" class="ind1"><img src="./images/spacer.gif" width="1" height="1" /></td>
    <td height="15" align="center" valign="middle" class="tb1"><img src="./images/spacer.gif" width="1" height="1" /></td>
    <td height="15" align="right" valign="middle" class="tb1"><img src="./images/spacer.gif" width="1" height="1" /></td>
    <td height="15" align="right" valign="middle" class="tb1"><img src="./images/spacer.gif" width="1" height="1" /></td>
  </tr>
  <tr>
    <td height="26" colspan="2" align="left" valign="bottom" class="tb3" style="border-top:solid; border-top-color:#000000; border-top-width:1px">&nbsp;&nbsp;หมายเหตุ&nbsp;&nbsp;&nbsp;</td>
    <td colspan="2" align="left" valign="bottom" class="tb1" style="border-top:solid; border-top-color:#000000; border-top-width:1px">&nbsp;มูลค่าสินค้ารวม</td>
    <td align="right" valign="bottom" class="tb1" style="border-top:solid; border-top-color:#000000; border-top-width:1px">[TOTAL]&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td height="23" colspan="2" align="left" valign="bottom" class="tb3">&nbsp;</td>
    <td align="left" valign="bottom" class="txt">&nbsp;จำนวนภาษีมูลค่าเพิ่ม</td>
    <td align="right" valign="bottom" class="tb1">7.00%&nbsp;&nbsp;&nbsp;</td>
    <td align="right" valign="bottom" class="tb1">[VATPRICE]&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <tr>
    <td height="23" colspan="2" align="left" valign="bottom" class="tb3">&nbsp; &nbsp;(&nbsp;[TOTALTEXT]&nbsp;)</td>
    <td align="left" valign="bottom" class="txt">&nbsp;ราคาสินค้า</td>
    <td align="right" valign="bottom" class="tb1">&nbsp;</td>
    <td align="right" valign="bottom" class="tb1">[PRODUCTPRICE]&nbsp;&nbsp;&nbsp;</td>
  </tr>
  <td></tr>
  <tr>
  <td height="15" class="tb3" style="border-bottom:solid; border-bottom-color:#000000; border-bottom-width:1px"><img src="./images/spacer.gif" width="1" height="1" /></td>
  <td height="15" style="border-bottom:solid; border-bottom-color:#000000; border-bottom-width:1px"><img src="./images/spacer.gif" width="1" height="1" /></td>
  <td height="15" style="border-bottom:solid; border-bottom-color:#000000; border-bottom-width:1px"><img src="./images/spacer.gif" width="1" height="1" /></td>
  <td height="15" class="tb1" style="border-bottom:solid; border-bottom-color:#000000; border-bottom-width:1px"><img src="./images/spacer.gif" width="1" height="1" /></td>
  <td height="15" class="tb1" style="border-bottom:solid; border-bottom-color:#000000; border-bottom-width:1px"><img src="./images/spacer.gif" width="1" height="1" /></td>
  </tr>
  <tr>
	  <td height="26" colspan="5" align="left" valign="bottom" class="tb2">&nbsp;&nbsp;ได้รับสินค้าตามรายการข้างบนนี้ไว้ถูกต้อง</td>
  </tr>
    <tr>
	  <td height="25" colspan="2" align="left" valign="bottom" class="tb3">&nbsp;&nbsp;และอยู่ในสภาพเรียบร้อยทุกประการ</td>
	  <td height="25" colspan="3" align="left" valign="bottom" class="tb1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ในนาม บริษัท ทีดับบลิวแซด คอร์ปอเรชั่น จำกัด (มหาชน)</td>
  </tr>
    <tr>
	  <td height="65" colspan="2" align="left" valign="bottom" class="tb3">&nbsp;&nbsp;ผู้ซื้อสินค้า&nbsp;&nbsp;_______________________________<br/><br/>&nbsp;&nbsp;วันที่&nbsp;____/____/____</td>
	  <td height="65" colspan="3" align="left" valign="bottom" class="tb1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ผู้รับมอบอำนาจ&nbsp;_______________________________</span></td>
  </tr>
  <tr><td colspan="5" height="15" class="tb2" style="border-bottom:solid; border-bottom-color:#000000; border-bottom-width:1px"><img src="./images/spacer.gif" width="1" height="1" /></td>
  </tr>
</table>
</td>
</tr>
</table>
</body>
</html>
